.login-container {
  position: relative;
}

.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-background-light);
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  opacity: 0.7;
}

.login-content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  padding: 40px;
  background: white;
  box-shadow: var(--box-shadow-default);
  border-radius: var(--radius-form);
  position: relative;
  height: 450px;
}

.login-title {
  flex: 1;
  text-align: left;
  padding-right: 40px;
}

.login-title h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.login-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-right: 25px;
}

.login-input > div {
  width: 100%;
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left;
}

.login-container input[type="email"],
.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  height: 45px;
}

.login-button {
  width: 150px;
  padding: 10px 20px;
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: none;
  border-radius: var(--radius-default);
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: none;
}

.login-button:not(.empty) {
  background: var(--primary-red);
}

.login-button:not(.empty):active {
  background: var(--primary-red);
}

.login-button:not(.empty):hover {
  background: var(--primary-red-hover);
}

.login-container p {
  text-align: left;
  margin: 0;
}

.login-container a {
  color: var(--primary-red);
  text-decoration: none;
  font-weight: bold;
}

.login-container a:hover {
  text-decoration: underline;
}

.link-button-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.link-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.link-section span {
  margin-right: 10px;
}

.link-section p {
  margin: 3px 0;
  font-size: 14px;
}

.empty {
  color: #16182357;
  background: #1618230f;
  cursor: not-allowed;
  border: none;
}

.password-input-container {
  position: relative;
  width: 100%;
}

.password-input-container input {
  width: 100%;
  padding-right: 40px;
}

.password-input-container i {
  position: absolute;
  right: 10px;
  top: 72%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.5;
}
