@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animated-fadeIn {
  animation: fade 0.5s ease-in-out;
}

.animated-slideInUp {
  animation: slideInUp 0.5s ease-in-out;
}

.animated {
  animation: fadeIn 0.5s ease-in-out;
  animation: slideInUp 0.5s ease-in-out;
}
