@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  --primary-red: #c70025;
  --primary-red-hover: #b30021;
  --primary-blue: #1c6197;
  --primary-blue-hover: #164e79;
  --primary-grey: #f1f1f1;
  --primary-white: #ffffff;
  --primary-black: #281713;
  --primary-transparent: transparent;

  --error-color: #dc3545;
  --warning-color: #ffa500;
  --success-color: #28a745;

  --border-default: 6px solid #c70025;
  --border-text-box: 2px solid #c70025;

  --radius-default: 6px;
  --radius-form: 30px;

  --font-size-title: 64px;
  --font-size-section: 32px;
  --font-size-default: 24px;
  --font-size-p: 16px;

  --font-weight-title: 700;

  --box-shadow-default: 0 4px 6px rgba(0, 0, 0, 0.1);

  --spacing-small: 10px;
  --spacing-medium: 20px;
  --spacing-large: 30px;
  --spacing-xlarge: 40px;
  --spacing-xxlarge: 50px;

  --margin-center: 0 auto;

  --primary-background-light: url("/public/assets/backgroundUpscale.png")
    no-repeat center center fixed;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Be Vietnam Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  display: none;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

textarea {
  resize: none !important;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.back-arrow {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-white);
  border-radius: 50%;
  box-shadow: var(--box-shadow-default);
  transition: all 0.3s ease;
  cursor: pointer;
}

.back-arrow i {
  font-size: 20px;
  color: var(--primary-black) !important;
  transition: transform 0.3s ease;
}

.back-arrow:hover {
  background-color: var(--primary-red);
  transform: translateX(-3px);
}

.back-arrow:hover i {
  color: var(--primary-white) !important;
  transform: scale(1.1);
}
