.homepage-banner img {
  width: 100%;
  height: 81.5vh;
}

.homepage-intro-title {
  background-color: var(--primary-black);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  color: var(--primary-red);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0;
  letter-spacing: 2px;
  padding-top: 5rem;
}

.homepage-intro-section {
  display: flex;
  align-items: center;
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.homepage-intro-info {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  padding: 3rem;
  text-align: justify;
  font-size: 24px;
}

.homepage-intro-info {
  @media (max-width: 1550px) {
    .homepage-intro-info {
      font-size: 22px;
    }
  }

  @media (max-width: 1200px) {
    .homepage-intro-info {
      font-size: 20px;
    }
  }

  @media (max-width: 1000px) {
    .homepage-intro-info {
      font-size: 18px;
    }
  }

  @media (max-width: 800px) {
    .homepage-intro-info {
      font-size: 16px;
    }
  }

  @media (max-width: 600px) {
    .homepage-intro-info {
      font-size: 14px;
    }
  }
}

.homepage-intro-image {
  width: 40%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.best-sellers {
  position: relative;
  text-align: center;
  padding: 50px 0;
}

.best-sellers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-background-light);
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
}

.homepage-best-sellers-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  color: var(--primary-red);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 30px;
  justify-content: space-evenly;
  gap: 1rem;
}

.product-item-card {
  border-radius: var(--radius-default);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  display: flex;
  flex-direction: column;
  width: calc(25% - 50px);
  height: auto;
  border: 5px double var(--primary-red) !important;
  margin-top: 50px;
}

.product-item-card:hover {
  transform: translateY(-50px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.product-item-card:not(:hover) {
  transition: transform 0.2s ease 0.5s, box-shadow 0.3s ease 0.1s;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}

.product-item-card .product-card-info {
  padding: 16px;
  background: var(--primary-grey);
  display: none;
}

.product-item-card:hover .product-card-info {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.product-item-card:hover .image-container,
.product-item-card:hover .product-card-info:hover ~ .image-container {
  opacity: 0.5;
}

.best-seller-name {
  margin: 5px 0;
  font-size: 24px;
}

.best-seller-price {
  margin: 5px 0;
  color: var(--primary-red);
  font-weight: bold;
  font-size: 1.1rem;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.buy-button,
.view-more-button {
  flex: 1;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: 600;
}

.buy-button {
  background-color: var(--primary-red);
  color: var(--primary-white);
  border: 2px solid var(--primary-red);
}

.view-more-button {
  background-color: var(--primary-black);
  color: var(--primary-white);
  border: 2px solid var(--primary-black);
}

.buy-button:hover {
  background-color: var(--primary-white);
  color: var(--primary-red);
  border: 2px solid var(--primary-red);
}

.view-more-button:hover {
  background-color: var(--primary-white);
  color: var(--primary-red);
  border: 2px solid var(--primary-red);
}

@media (max-width: 1200px) {
  .product-item-card {
    width: calc(50% - 20px);
  }
}

.homepage-news-section {
  position: relative;
  padding: 60px 0;
}

.homepage-news-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-background-light);
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  opacity: 0.7;
}

.homepage-news-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  color: var(--primary-red);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 2px;
}

.homepage-news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
}

.homepage-news-card {
  background-color: var(--primary-grey);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 50px;
}

.homepage-news-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.news-card-image-container {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.news-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.homepage-news-card:hover .news-card-image {
  transform: scale(1.1);
}

.news-card-overlay {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--primary-red);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.news-card-title {
  font-size: 1.4rem;
  color: var(--primary-white);
  margin-bottom: 12px;
  padding: 20px 25px 0;
  font-weight: 600;
  line-height: 1.3;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  color: var(--primary-black);
}

.news-card-text {
  font-size: 1rem;
  color: #f0f0f0;
  margin-bottom: 20px;
  color: var(--primary-black);
  line-height: 1;
  padding-left: 30px;
}

.news-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  background-color: var(--primary-red);
  padding: 10px 15px;
  border-radius: 0 0 10px 10px;
}

.news-card-date {
  font-size: 0.8rem;
  color: var(--primary-white);
}

.news-card-button {
  background-color: var(--primary-white);
  color: var(--primary-red);
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.news-card-button:hover {
  background-color: var(--primary-grey);
  color: var(--primary-red);
}

.loading-spinner,
.no-blogs-message {
  grid-column: 1 / -1;
  text-align: center;
  color: var(--primary-white);
  font-size: 1.2rem;
}

.no-blogs-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: var(--primary-red);
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: var(--font-size-section);
}

button {
  padding: 10px 20px;
  background-color: var(--primary-red);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
