.info-container {
  position: relative;
  /* background-color: #f1f1f1; */
  padding-bottom: 4rem;
}

.info-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-background-light);
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  opacity: 0.7;
}

.info-container h2 {
  font-size: 2.2rem;
  color: #1a365d;
  margin-bottom: 2rem;
  font-weight: 600;
  text-align: center;
}

.info-container p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  color: #4a5568;
}

.info-content {
  max-width: 1000px;
  margin: 0 auto;
}

.info-title {
  margin: 0 auto;
  padding: 4rem;
  font-size: 3.5rem;
  color: #1a365d;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.info-section {
  margin-bottom: 5rem;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 3rem;
  transition: transform 0.3s ease;
}

.info-section:hover {
  transform: translateY(-5px);
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.team-member {
  text-align: center;
  background-color: #edf2f7;
  padding: 2rem;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.team-member:hover {
  background-color: #e2e8f0;
  transform: translateY(-10px);
}

.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.team-member:hover img {
  transform: scale(1.1);
}

.team-member h3 {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  color: #2d3748;
}

.member-image {
  width: 200px;
  height: 200px;
  margin: 0 auto 1.5rem;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.about-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.about-item {
  display: flex;
  align-items: center;
  background-color: #edf2f7;
  padding: 1.5rem;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.about-item:hover {
  background-color: #e2e8f0;
  transform: translateY(-5px);
}

.about-item i {
  font-size: 2rem;
  color: #319795;
  margin-right: 1.5rem;
}
