.payment-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 200px);
  position: relative;
  /* background-color: #f1f1f1; */
}

.payment-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-background-light);
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  opacity: 0.7;
}

.payment-content {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
}

.payment-status-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.success-icon {
  width: 250px;
  height: 250px;
}

.payment-status {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.payment-status-success {
  color: #28a745;
  font-size: 2rem;
}

.payment-details {
  margin-bottom: 1.5rem;
}

.payment-details p {
  margin: 0.5rem 0;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.thank-you-message {
  width: 60%;
  text-align: justify;
}
/* 
.btn {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-secondary {
  background-color: #6c757d;
  color: white;
}

.btn-secondary:hover {
  background-color: #545b62;
} */
