.assign {
  display: block;
  position: fixed;
}

.assign.open {
  display: block;
  position: relative;
}

.assign.close {
  display: block;
  position: relative;
}

.assign-btn {
  width: 100%;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.assign-btn:hover {
  background-color: transparent;
}

.assign-btn.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.dropdown-content {
  position: absolute;
  top: 1;
  width: 100%;
  margin-top: 0.25rem;
  background-color: #ffffff !important;
  border: 1px solid #ddd !important;
  border-radius: 6px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1000;
  animation: fadeIn 0.2s ease-out;
}

.search-input {
  width: calc(100% - 16px) !important;
  padding: 0.5rem;
  margin: 8px;
  border: solid #f1f1f1 3px;
  outline: none;
  border-radius: 6px;
  font-size: 14px;
}

.dropdown-content input:focus {
  border-color: var(--primary-black);
}

.staff-list {
  max-height: 150px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

.staff-list-item {
  padding: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.staff-list-item:hover {
  background-color: var(--primary-grey);
}

.not-found-staff {
  color: #9ca3af;
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
