.tick-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.tick-circle {
  stroke-dasharray: 597;
  stroke-dashoffset: 597;
}

.tick {
  stroke-dasharray: 175;
  stroke-dashoffset: 175;
}

.animate .tick-circle {
  animation: circle 1.1s ease-in-out forwards;
}

.animate .tick {
  animation: tick 1.1s ease-out forwards 1s;
}

@keyframes circle {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1;
  }
}

@keyframes tick {
  from {
    stroke-dashoffset: 175;
  }
  to {
    stroke-dashoffset: 0;
  }
}
