.consignment-tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #f1f3f5;
  border-radius: 8px;
  padding: 5px;
}

.consignment-tab-button {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: #495057;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
}

.consignment-tab-button.active {
  background-color: var(--primary-blue);
  color: white;
  border-radius: 4px;
}

.admin-consignment-status-badge {
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
  width: 120px;
  display: inline-block;
  text-align: center;
  pointer-events: none;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-consignment-status-badge.pending {
  background-color: var(--error-color);
  color: var(--primary-white);
}

.admin-consignment-status-badge.approved {
  background-color: var(--warning-color);
  color: var(--primary-white);
}

.admin-consignment-status-badge.checkedout {
  background-color: var(--success-color);
  color: var(--primary-white);
}

.admin-consignment-status-badge.cancelled {
  background-color: var(--primary-black);
  color: var(--primary-white);
}

.consignment-expanded-content {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 4px;
  margin: 10px 0;
}

.search-input {
  border: 1px solid #dee2e6;
  border-radius: 4px;
  padding: 8px 12px;
  width: 100%;
}
