.sort-header {
  display: flex;
  justify-content: space-between;
}

.sort-header i {
  cursor: pointer;
  padding: 0 2px;
}

.app-container .add-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-container .group-btns {
  display: flex;
  gap: 10px;
}

td {
  vertical-align: middle;
}

.nav-btn {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none !important;
  color: black;
}